
<div class="row j-title-wrap">
    <div class="col-md-12">
        <div class="dashboard-stat blue-madison">
            <div class="j-icon-wrap">
                <i class="fa fa-cloud-download"></i>
            </div>
              <h3 class="j-page-title">Journal Entry Upload</h3>
        </div>
    </div>
</div>